.nav.scroll{
    /*box-shadow: 5px 10px 15px 2px rgba(0,0,0,0.1);*/
    box-shadow: 0 2px 10px rgba(0,0,0,.06);
}

#solutionbook{
    width: 750px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: 120px;
    background: white;
    padding: 60px;

}


#headertitle {
    color: #bdc4d1;
    font-weight: normal;
    padding-bottom: 30px;
    font-size: 20px;
    text-align:center;
    display: block;
}

#product-list{padding: 10px;}


/*最后一个hr不显示*/
.layui-container ul li:last-of-type hr {
    display: none;
}

/*最后一个li底部高度增加*/
#product-list:last-of-type   {
   padding-bottom: 50px;
}

.po-hr{margin: 0 auto;margin-top: 20px;}


.product-img{width: 250px ;max-height: 180px;clear: both;
    display: block;
    margin: auto ;
    border-radius:5px;
}

.product-download{

    border: 1px solid #aaa;
    width: 70%;
    height: 100%;

}
.product-download th{
    padding: 0;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    background-color: #F5F5F5;
    border: 1px solid #ddd;
}


.product-download td{
    padding: 5px 10px;
    height: 35px;
    /*width: 75px;*/
    vertical-align: middle;
    background: #fdfcf8 no-repeat center;
    border: 1px solid #ddd;
    text-align: center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}






/*重写LAYERUI CSS*/

.layui-card-header{padding: 0 30px}
.layui-col-md7 p {

    text-space: 16px;
    padding: 5px;
    letter-spacing: 2px;
}

.layui-btn-sm{width: 80px}

.layui-tab-brief>.layui-tab-title .layui-this{
    color:#ff9c01;
}
.layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 2px solid #ff9c01;
}

.product-desc p a{ color:rgba(20, 112, 216, 0.80)}
.product-desc p a:hover{ color:rgba(20, 112, 216, 1);font-size: 15px}


.about-li li { list-style: none;padding:2px 10px }
.about-li li a { color:#bdc4d1; height: 60px; vertical-align: middle; display: table-cell; width: 300px;text-align:center; }

.about-li li a:hover{ background: rgba(255,255,225,.1);color: white;font-size: 16px}

.about .layui-tab{text-align: center!important;padding: 20px;}
.about .layui-tab li{font-size: 16px}


.case-list .layui-card:hover{

    box-shadow: 0 20px 10px rgba(0,0,0,.3);
}

.product-index:hover{box-shadow: 0 20px 10px rgba(0,0,0,.3);}

.footer {
    position: relative;
    height: 320px;

    /*background-color:#26425f!important;*/
    margin-top: 50px;
}

#g1{padding-left: 100px}

 p.p{line-height: 40px}

 p.MsoNormal{line-height: 40px}

.footer .contact {left: 45px;top:45px}

.footer .contact p {color: white}

.copyRight p{
    position: absolute;
    bottom: 10px;
    margin: auto 0;
    height: 23px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px 0;
}

.copyRight p a{

    color: white;

}

.footer hr{position: absolute;
    bottom:30px; width: 100%}


.contact p{

    font-size: 16px;
    color: #363636;
    line-height: 25px;
    text-align: left;
    font-family: "microsoft yahei";
    padding: 8px 0;


}
.mission{margin: 50px}
.mission h1{ color: #363636;margin-bottom: 40px;text-align: left;}

.mission table tbody tr th{ line-height: 3}


/*分页自定义样式*/
#pull_right{
    text-align:center;
}
.pull-right {
    /*float: left!important;*/
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.clear{
    clear: both;
}

.product-page{text-align:center}
